.login {
}
.bg-dark {
    background-color: #12002b;
}
.main {
    flex: 1;
}
.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 3rem;
    padding: 2rem;
}
