.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;

    label {
        font-weight: bold;
    }

    input {
        padding: 5px;
        font-size: 1.2rem;
    }
}

.input-remember {
    display: flex;

    label {
        margin-left: 0.25rem;
    }
}

// .sign-in-button {
//     display: block;
//     width: 100%;
//     padding: 8px;
//     font-size: 1.1rem;
//     font-weight: bold;
//     margin-top: 1rem;
//     border-color: #00bc77;
//     background-color: #00bc77;
//     color: #fff;
// }

.error-message {
    color: red;
    font-size: 0.75rem;
    //font-weight: bold;
}
