.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    &--wrapper {
        display: flex;
        gap: 1rem;
    }

    a {
        font-weight: bold;
        color: #2c3e50;
    }

    &__logo {
        display: flex;
        align-items: center;
        &__image {
            max-width: 100%;
            width: 200px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &__button-out {
        border: none;
        font-weight: bold;
        font-size: 14px;
    }
}
