/* Import */
//@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Font */
@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url("./assets/font/avenir_regular.woff") format("woff");
}

@font-face {
  font-family: "AvenirLight";
  src: local("AvenirLight"), url("./assets/font/avenir_light.woff") format("woff");
}
@font-face {
  font-family: "AvenirHeavy";
  src: local("AvenirHeavy"), url("./assets/font/avenir_heavy.woff") format("woff");
}
@font-face {
  font-family: "AvenirBook";
  src: local("AvenirBook"), url("./assets/font/avenir_book.woff") format("woff");
}
@font-face {
  font-family: "AvenirBlack";
  src: local("AvenirBlack"), url("./assets/font/avenir_black.woff") format("woff");
}

/* Reset */
// * {
//   box-sizing: border-box;
// }

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h1 {
  margin: 0;
}

/* Set */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  //font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

//après avoir retirer box-sizing: border-box;, line-height ne sert plus
p {
  line-height: 1.5rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
